<div class="post" mat-elevation="3">
    <div class="post-header">
      <h2>{{ post.title }}</h2>
      <p class="post-date">{{ post.date | date }}</p>
    </div>
    <div class="post-content">
      <p>{{ post.content }}</p>
    </div>
    <!-- <div class="post-tags">
      <mat-chip-list>
        <mat-chip *ngFor="let tag of post.tags">{{ tag }}</mat-chip>
      </mat-chip-list>
    </div> -->
    <div class="post-footer">
      <button mat-icon-button color="primary" (click)="onComment()">
        <mat-icon>comment</mat-icon>
        <span class="button-label">Comment</span>
      </button>
      <button mat-icon-button color="primary" (click)="onShare()">
        <mat-icon>share</mat-icon>
        <span class="button-label">Share</span>
      </button>
      <button mat-icon-button color="warn" (click)="onReport()">
        <mat-icon>report</mat-icon>
        <span class="button-label">Report</span>
      </button>
    </div>
  </div>
  