<div class="missing-_-detail">
    <div class="missing">
      <img src="https://picsum.photos/500/500" />
      <p class="text-2">Kyle Reese</p>
    </div>
    <p class="text-3">Basic Info</p>
    <p class="text-4">Circumstances</p>
    <p class="text-5">Identifying Marks</p>
    <p class="text-6">Name</p>
    <p class="text-7">Height</p>
    <p class="text-8">Weight</p>
    <p class="text-9">Eye Color</p>
    <p class="text-1-0">Last Seen </p>
    <p class="text-1-1">Blood Group</p>
    <p class="text-1-2">Status</p>
    <p class="text-1-3">Date of Birth</p>
    <p class="text-1-4">Ethnicity</p>
    <p class="text-1-5">Gender</p>
    <p class="text-1-6">Kyle Christopher Reese</p>
    <p class="text-1-7">White</p>
    <p class="text-1-8">27-01-1998</p>
    <p class="text-1-9">Male</p>
    <p class="text-2-0">90 kg</p>
    <p class="text-2-1">167 cm</p>
    <p class="text-2-2">Brown</p>
    <p class="text-2-3">23 march 2023, 5 pM</p>
    <p class="text-2-4">AB+</p>
    <p class="text-2-5">Missing</p>
    <p class="text-2-6">Kyle was last seen at 5pm, 23 march 2023, taking shelter near bashundhara stadium during the earthquake. He was wearing long black jacket and blue jeans.</p>
    <p class="text-2-7">Long Horizontal Scar on Face
  Three Dental Fillings on Molar teeth
  Black Mole on the right elbow</p>
    <img src="" />
    <img src="" />
    <img src="" />
    <div class="see-_more">
      <img src="" />
      <p class="text-3-1">Update Status</p>
    </div>
    <div class="see-_more">
      <img src="" />
      <p class="text-3-2">contact on App
  </p>
    </div>
    <p class="text-3-3">Disaster Shield</p>
    <p class="text-3-4">Contact Info</p>
    <p class="text-3-5">Phone</p>
    <p class="text-3-6">Adresss</p>
    <p class="text-3-7">554-193</p>
    <p class="text-3-8">Banani,Dhaka</p>
  </div>