<div class="missing-detail centered">
  <div class="missing">
    <img src="https://picsum.photos/500/500" />
    <p class="text">Kyle Reese</p>
  </div>

  <!-- <ng-container *ngFor="let text of texts">
    <p class="text">{{ text }}</p>
  </ng-container>

  <img src="" *ngFor="let img of images" /> -->
  
  <div class="see-_more">
    <img src="" />
    <p class="text">Update Status</p>
  </div>

  <div class="see-_more">
    <img src="" />
    <p class="text">contact on App</p>
  </div>

  <p class="text">Disaster Shield</p>
  <p class="text">Contact Info</p>
  <p class="text">Phone</p>
  <p class="text">Adresss</p>
  <p class="text">554-193</p>
  <p class="text">Banani, Dhaka</p>
</div>
