.missing-_-detail {
    height: 3121px;
    width: 1492px;
    background-color: #170d33;
  }
  .missing {
    height: 791px;
    width: 622px;
  }
  .img-1 {
    border-radius: 20px;
    height: 661px;
    width: 622px;
  }
  .text-2 {
    text-align: center;
    vertical-align: top;
    font-size: 47px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ff0000;
  }
  .text-3 {
    text-align: center;
    vertical-align: top;
    font-size: 38px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ff0000;
  }
  .text-4 {
    text-align: center;
    vertical-align: top;
    font-size: 38px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ff0000;
  }
  .text-5 {
    text-align: left;
    vertical-align: top;
    font-size: 38px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ff0000;
  }
  .text-6 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-7 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-8 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-9 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-1-0 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-1-1 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-1-2 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-1-3 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-1-4 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-1-5 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-1-6 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-1-7 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-1-8 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-1-9 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-2-0 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-2-1 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-2-2 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-2-3 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-2-4 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-2-5 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ff0000;
  }
  .text-2-6 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-2-7 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .img-2-8 {
    height: 52px;
    width: 1px;
  }
  .img-2-9 {
    height: 238px;
    width: 246px;
  }
  .img-3-0 {
    transform: rotate(-180deg);
    height: 238px;
    width: 246px;
  }
  .see-_more {
    height: 47px;
    width: 328px;
  }
  .text-3-1 {
    text-align: center;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #000000;
  }
  .see-_more {
    height: 47px;
    width: 407px;
  }
  .text-3-2 {
    text-align: center;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #000000;
  }
  .text-3-3 {
    text-align: center;
    vertical-align: top;
    font-size: 50px;
    font-family: undefined;
    line-height: auto;
  }
  .text-3-4 {
    text-align: left;
    vertical-align: top;
    font-size: 38px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ff0000;
  }
  .text-3-5 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-3-6 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-3-7 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }
  .text-3-8 {
    text-align: left;
    vertical-align: top;
    font-size: 32px;
    font-family: JetBrains Mono;
    line-height: auto;
    color: #ffffff;
  }